<div class="container">
  <h1 class="mb-3">Reservations</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">16:00</th>
        <th scope="col">17:00</th>
        <th scope="col">18:00</th>
        <th scope="col">19:00</th>
        <th scope="col">20:00</th>
        <th scope="col">21:00</th>
        <th scope="col">22:00</th>
        <th scope="col">23:00</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Table 1</td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-danger btn-sm"><i class="fas fa-times fa-fw"></i></button></td>
      </tr>
      <tr>
        <td>Table 2</td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
        <td><button type="button" class="btn btn-success btn-sm"><i class="fas fa-check fa-fw"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>